*{
  background-color: grey;
}

h1{
  font-size: 40px;
  font-family: Ariel;
  font-weight: normal;
  color: rgb(50 ,50 ,50);;
  text-align: center;
}
#container{
  max-width: 720px;
  margin: 0 auto 0 auto;
}

#banner{
  width: 100%;
  height: 180px;
}
h2{
  font-family: Roboto;
  font-size: 32px;
  color: rgb(100,100,100);
  text-align: center;
  font-weight: normal;
}

p{
  font-family: Roboto;

}

.jobs{
  max-width: 720px;
  margin: 0 auto;
}

.btn{
  color: white;
   background-color: #7f8c8d;
  display: block;
  margin: 20px auto;
}